<div class="member-list" style="display: flex; flex-direction: column;">
    {%- for member in include.list -%}
        <a class="member-link" href="{{ member.url | relative_url }}">
            <div style="display: flex; margin-bottom: 10px;">
                <img src="{{ site.baseurl }}/images/members/{{ member.short_name }}.png" width="100">
                <div style="display: flex; flex-direction: column; margin-left: 10px;">
                    <h3>{{ member.name | escape }}</h3>
                    <h4>{{ member.position }}</h4>
                    {% comment %} {%- if site.show_excerpts -%}
                        {{ project.excerpt }}
                    {%- endif -%} {% endcomment %}
                </div>
            </div>
        </a>
    {%- endfor -%}
</div>