<div class="publication-list" style="display: flex; flex-direction: column;">
    {%- if include.member == "" -%}
        {%- assign filtered_publications = site.publications -%}
    {%- else -%}
        {%- assign filtered_publications = site.publications | where_exp: 'pub', "pub.members contains include.member" -%}
    {%- endif -%}
    {%- for publication in filtered_publications -%}
        <a class="publication-link" href="{{ publication.url | relative_url }}">
            <div style="display: flex; max-height: fit-content; margin-bottom: 10px;">
                <img src="{{ site.baseurl }}/images/publications/{{ publication.title }}.png" style="height: 100px; object-fit: contain;">
                <div style="display: flex; flex-direction: column; margin-left: 10px;">
                    {%- assign date_format = site.minima.date_format | default: "%B %Y" -%}
                    <span class="publication-meta">
                        {{ publication.date | date: date_format }} | {{ publication.source }}
                    </span>
                    <h3>{{ publication.title | escape }}</h3>
                    <h4>
                        {%- for member in publication.members -%}
                            {%- assign m = site.members | where: 'short_name', member | first -%}
                            {%- if forloop.index > 1 -%}, {% endif -%}
                            <a href="{{ m.url | relative_url }}">
                                {{- m.name -}}
                            </a>
                        {%- endfor -%}
                    </h4>
                    {%- if site.show_excerpts -%}
                        {{ publication.excerpt }}
                    {%- endif -%}
                </div>
            </div>
        </a>
    {%- else -%}
        <p>Nothing yet...</p>
    {%- endfor -%}
</div>