---
layout: default
---

<div class="home">
	{%- if page.title -%}
		<h1 class="page-heading">{{ page.title }}</h1>
	{%- endif -%}

	{{ content }}

	{%- if site.projects.size > 0 -%}
		<h2 class="project-list-heading">{{ page.list_title | default: "Projects" }}</h2>
		{%- include projectDisplay.html list=site.projects member="" -%}
	{%- endif -%}

	{%- if site.directors.size > 0 -%}
		<h2 class="directors-list-heading">{{ page.list_title | default: "Directors" }}</h2>
		{%- include memberDisplay.html list=site.directors -%}
	{%- endif -%}

	{%- if site.members.size > 0 -%}
		<h2 class="member-list-heading">{{ page.list_title | default: "Current Members" }}</h2>
		{%- include memberDisplay.html list=site.members -%}
	{%- endif -%}

	{%- if site.past_members.size > 0 -%}
		<h2 class="past-member-list-heading">{{ page.list_title | default: "Past Members" }}</h2>
		{%- include memberDisplay.html list=site.past_members -%}
	{%- endif -%}
</div>