---
layout: default
---
    
<h1>{{ page.name }}</h1>
<h2>{{ page.position }}</h2>

{{ content }}

<h2>Projects</h2>
<ul>
  {%- assign filtered_projects = site.projects | where_exp: 'item', "item.members contains page.short_name" -%}
  {%- for project in filtered_projects -%}
    <li>
        <a href="{{ project.url | relative_url }}">
            {{ project.title }}
        </a>
    </li>
  {%- endfor -%}
</ul>

<h2>Publications</h2>
<ul>
  {%- assign filtered_publications = site.publications | where_exp: 'item', "item.members contains page.short_name" -%}
  {%- for publication in filtered_publications -%}
    <li>
        <a href="{{ publication.url | relative_url }}">
            {{ publication.title }}
        </a>
    </li>
  {%- endfor -%}
</ul>