---
layout: default
---
    
<style>
    .btn-primary {
    padding: 0.5em 1em;
    background: #007bff;
    color: #fff !important;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

    .btn-primary:hover {
        background: #0069d9; 
        text-decoration: none;
}

</style>
<header class="publication-header">
    <h1 class="publication-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="publication-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {%- assign date_format = site.minima.date_format | default: "%B %Y" -%}
            {{ page.date | date: date_format }}
        </time>
        | {{ page.source }}
    </p>
    {% comment %} <p>
        <span>
            {%- for member in page.members -%}
                {%- assign m = site.members | where: 'short_name', member -%}
                {%- if forloop.index > 1 -%}
                    ,
                {% endif -%}
                {{ m[0].name }}
            {%- endfor -%}
        </span>
    </p> {% endcomment %}
    <div style="margin-bottom: 2em;">
    <a class="btn btn-primary" target="_blank" rel="noopener noreferrer" href="{{ page.link }}">View Paper</a>
    </div>
    {%- assign member_list = site.members | where_exp: 'mem', "page.members contains mem.short_name" -%}
    {%- include memberDisplay.html list=member_list -%}
    <a target="_blank" rel="noopener noreferrer" href={{ page.link }}>Paper</a>
</header>

<h2>Abstract</h2>
{{ content }}

<h2>BibTeX</h2>
{% highlight bibtex %}
{{ page.bibtex}}
{% endhighlight %}

<a class="u-url" href="{{ page.url | relative_url }}" hidden></a>